    <form action='/' method='POST'>
      <p>
        Your Idea:
      </p>
      <input type='text' class="form-control" placeholder="In think..." name='idea_title'/><br/>
      <textarea class="form-control" rows="3" name='idea_description'></textarea><br/>
      <input type='submit' class="btn btn-primary" />
    </form>

   <h3>Existing Ideas</h3>

    <ul class="list-group">
      <% ideas.each do |idea| %>
        <li class="list-group-item">
          <span class="label label-default"><%= idea.title %></span>
          <%= idea.description %> <span class="label label-info">Info</span>
        </li>
      <% end %>
    </ul>


