    <form action='/' method='POST'>
      <p>
        Your Idea:
      </p>
      <input type='text' class="form-control" placeholder="In think..." name='idea_title'/><br/>
      <textarea class="form-control" rows="3" name='idea_description'></textarea><br/>

<label class="radio-inline">
  <input type="radio" id="inlineCheckbox2" value="primary" name='idea_type'> 
  <span class="label label-primary">work</span>
</label>
<label class="radio-inline">
  <input type="radio" id="inlineCheckbox2" value="info" name='idea_type'> 
  <span class="label label-info">life</span>
</label>

      <div class="text-right"><input type='submit' class="btn btn-primary" /></div>
    </form>

   <h3>Existing Ideas</h3>

    <ul class="list-group">
      <% ideas.each do |idea| %>
        <li class="list-group-item">
          <span class="label label-<%= idea.type%>"><%= idea.type_name %></span>
          <span class="label label-default"><%= idea.title.capitalize %></span>
          <%= idea.description.capitalize %>
        </li>
      <% end %>
    </ul>


